<div class="typrography">
	 <div class="container">
		<h3 class="title" >Projekty</h3>
		<div class="grid_3 grid_4 ">
		     <h3 class="bars">Co děláme?</h3>
		    <div class="bs-example">
				<div class="mb-60">
                                                <p>Pracujeme pro jak pro významné hráče ve všech odvětvích, tak i pro soukromníky. Naší hlavní předností je vysoká spolehlivost a kvalita výstupů. Při práci hledím na přání zákazníka a po konzultaci vždy zakomponujeme domluvené věci. </p>

                                                <p>Nejdříve se s klientem potkáme a domluvíme se na zadání. Poté připravíme pilotní verzi, kterou později společně s klientem odladíme na základě jeho představ a našich doporučení. Následuje samotná implementace a spuštění aplikace. Při realizaci klademe maximální důraz na zpětnou vazbu od klienta.</p>
				</div>
			</div>
	    </div>

		  </div>
</div>

<!-- quality -->
<div class="quality">
	<div class="container">
		<h3>Naše práce</h3>
		<div class="col-md-6 qua-left ">
			<a href="reference.html"><figure>
				<img class="img-responsive" src="images/pic8.jpg" alt="Katys">
				<figcaption>
					<div class="fig-bor">
						<h4>Stránky s integrovaným eshopem</h4>
						<p>
                                                        Jako naše standardní řešení nabízíme webové stránky s integrovaným eshopem. Můžete tedy jak prezentovat produkty, tak prodávat.
						</p>
					</div>
				</figcaption>
			</figure></a>
		</div>
		<div class="col-md-6 qua-left ">
			<a href="reference.html"><figure>
				<img class="img-responsive" src="images/pic7.jpg" alt="Pavel Žur">
				<figcaption>
					<div class="fig-bor">
						<h4>Reprezentativní weby</h4>
						<p>
                                                        Reprezentativní stránky jsme schopni poskytnout pro každého. Tedy jak pro firmy a živnostníky, tak například pro politiky, města...
						</p>
					</div>
				</figcaption>
			</figure></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //quality -->
{% include 'tag_join_us.html' %}
		   <div class="typrography">
	 <div class="container">


			 <div class="grid_3 grid_5 ">
				 <h3 class="bars">Postup práce</h3>
				   <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
			  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Eshopy a ekomerce</a></li>
			  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Výstup na míru</a></li>
			  <li role="presentation" class="dropdown">
				<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Marketingové služby <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
				  <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">Marketing a analýzy</a></li>
				  <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">Ostatní služby</a></li>
				</ul>
			  </li>
			</ul>
			<div id="myTabContent" class="tab-content">
			  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
				<p>
                                    Protože máme systém připraven, je pro většinu použití aplikovatelný velmi rychle. Nejdříve od vás zjistíme, co chcete prodávat, poté připravíme návrh a domluvíme se na technických parametrech. Zejména potom, jestli se bude exportovat do slevových serverů, zda se bude propojovat s účetním/skladovým hospodářstvím apod. Následně dojde k samotné realizaci. Na závěr se domluvíme na podmínkách správy a údržby.
                                </p>
			  </div>
			  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
				<p>
                                    V této oblasti je nejdůležitější individuální přístup a časté konzultace s klientem. Proto obvykle máme na klienta spojení a každý krok konzultujeme. Protože se povětšinou nejedná o běžné výstupy, je důležitou součástí každého individuálního projektu taktéž údržba a servis ex post. Téměř nikdy se nedá systém naprogramovat napoprvé kompletně (neboť zákazník neví dopředu přesně co bude a co nebude potřebovat) a tak se jedná o dlouhodobější spolupráci.
                                </p>
			  </div>
			  <div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab">
				<p>
                                    Nejdříve si od klienta vyžádáme všechny podklady, které následně vyhodnocujeme. Po celou dobu jsme s klientem v kontaktu a zjišťujeme tak operativně všechny detaily. Na konci představíme náš návrh řešení a představíme podmínky jeho realizace. Samozřejmostí je, že se za výsledek jsme schopni zaručit a tak máte jistotu, že nevyhazujete peníze zbytečně.
                                </p>
			  </div>
			  <div role="tabpanel" class="tab-pane fade" id="dropdown2" aria-labelledby="dropdown2-tab">
				<p>
                                    Obecně vždy podle konkrétního charakteru. Například pro fotografování je vhodné vybrat slunečný den s dobrou viditelností (a dalšími podmínkami). Pro firemní grafiku je vždy vhodné určit, k jakým materiálům se bude vztahovat (jestli je např. vhodné používat hlavičkové papíry apod.) a následně ji v tomto duchu upravit. U copywritingu se musí doladit duch, v jakém má být text psaný etc.
                                </p>
			  </div>
			</div>
		   </div>
		  </div>



	</div>
</div>