<div class="gallery">
	<div class="container">
		<h3 class="title"> Reference </h3>
		<div class="gallery_gds">
			<ul class="simplefilter ">
                <li class="active" data-filter="all">Vše</li>
                <li data-filter="1">Eshopy</li>
                <li data-filter="2">Vizitky</li>
                <li data-filter="3">Organizace</li>
                <li data-filter="4">Malé firmy</li>
            </ul>
            <div class="filtr-container ">
                <div class=" col-md-4 filtr-item" data-category="1, 5" data-sort="Busy streets">
					<a href="images/ref01.jpg" class="b-link-stripe b-animate-go  swipebox">
						<div class="item item-type-double">
							<div class="item-hover">
								<div class="item-info">
									<div class="date">Prezentace pro půjčky</div>
									<div class="line"></div>
									<div class="headline">Reprezentativní stránka</div>
									<div class="line"></div>
								</div>
								<div class="mask"></div>
							</div>
							<div class="item-img"><img src="images/ref01.jpg" alt=" " /></div>
						</div>
					</a>
                </div>
                <div class="col-md-4 filtr-item" data-category="2, 5" data-sort="Luminous night">
					<a href="images/ref02.jpg" class="b-link-stripe b-animate-go  swipebox">
						<div class="item item-type-double">
							<div class="item-hover">
								<div class="item-info">
									<div class="date">Komerční web firmy Acoron</div>
									<div class="line"></div>
									<div class="headline">Stránky pro firmu</div>
									<div class="line"></div>
								</div>
								<div class="mask"></div>
							</div>
							<div class="item-img"><img src="images/ref02.jpg" alt=" " /></div>
						</div>
					</a>

                </div>
                <div class="col-md-4 filtr-item" data-category="1, 4" data-sort="City wonders">
                    <a href="images/ref03.jpg" class="b-link-stripe b-animate-go  swipebox">
						<div class="item item-type-double">
							<div class="item-hover">
								<div class="item-info">
									<div class="date">Osobní stránky Pavla Žura</div>
									<div class="line"></div>
									<div class="headline">Prezentace jednotlivce</div>
									<div class="line"></div>
								</div>
								<div class="mask"></div>
							</div>
							<div class="item-img"><img src="images/ref03.jpg" alt=" " /></div>
						</div>
					</a>

                </div>
                <div class=" col-md-4 filtr-item" data-category="3" data-sort="In production">
                    <a href="images/ref04.jpg" class="b-link-stripe b-animate-go  swipebox">
						<div class="item item-type-double">
							<div class="item-hover">
								<div class="item-info">
									<div class="date">Firma Katys</div>
									<div class="line"></div>
									<div class="headline">Komplexní stránky</div>
									<div class="line"></div>
								</div>
								<div class="mask"></div>
							</div>
							<div class="item-img"><img src="images/ref04.jpg" alt=" " /></div>
						</div>
					</a>
                </div>
                <div class="col-md-4 filtr-item" data-category="3, 4" data-sort="Industrial site">
                    <a href="images/ref05.jpg" class="b-link-stripe b-animate-go  swipebox">
						<div class="item item-type-double">
							<div class="item-hover">
								<div class="item-info">
									<div class="date">Charitativní organizace</div>
									<div class="line"></div>
									<div class="headline">Neziskové projekty</div>
									<div class="line"></div>
								</div>
								<div class="mask"></div>
							</div>
							<div class="item-img"><img  src="images/ref05.jpg" alt=" " /></div>
						</div>
					</a>
                </div>
                <div class="col-md-4 filtr-item" data-category="2, 4" data-sort="Peaceful lake">
                    <a href="images/ref06.jpg" class="b-link-stripe b-animate-go  swipebox">
						<div class="item item-type-double">
							<div class="item-hover">
								<div class="item-info">
									<div class="date">Kosmetička Eva P.</div>
									<div class="line"></div>
									<div class="headline">Prezentace živnostníka</div>
									<div class="line"></div>
								</div>
								<div class="mask"></div>
							</div>
							<div class="item-img"><img  src="images/ref06.jpg" alt=" " /></div>
						</div>
					</a>
                </div>
                <div class="col-md-4  filtr-item" data-category="1, 5" data-sort="City lights">
                    <a href="images/ref07.jpg" class="b-link-stripe b-animate-go  swipebox">
						<div class="item item-type-double">
							<div class="item-hover">
								<div class="item-info">
									<div class="date">Web Ubytovna Košická</div>
									<div class="line"></div>
									<div class="headline">Kompletní stránky firmy</div>
									<div class="line"></div>
								</div>
								<div class="mask"></div>
							</div>
							<div class="item-img"><img  src="images/ref07.jpg" alt=" " /></div>
						</div>
					</a>
                </div>
                <div class="col-md-4 filtr-item" data-category="2, 4" data-sort="Dreamhouse">
                    <a href="images/ref08.jpg" class="b-link-stripe b-animate-go  swipebox">
						<div class="item item-type-double">
							<div class="item-hover">
								<div class="item-info">
									<div class="date">Stránky spolku</div>
									<div class="line"></div>
									<div class="headline">Reprezentativní web</div>
									<div class="line"></div>
								</div>
								<div class="mask"></div>
							</div>
							<div class="item-img"><img src="images/ref08.jpg" alt=" " /></div>
						</div>
					</a>
                </div>
				<div class="col-md-4 filtr-item" data-category="3" data-sort="Dreamhouse">
                    <a href="images/ref09.jpg" class="b-link-stripe b-animate-go  swipebox">
						<div class="item item-type-double">
							<div class="item-hover">
								<div class="item-info">
									<div class="date">Stránky neziskové organizace</div>
									<div class="line"></div>
									<div class="headline">Prezentace</div>
									<div class="line"></div>
								</div>
								<div class="mask"></div>
							</div>
							<div class="item-img"><img  src="images/ref09.jpg" alt=" " /></div>
						</div>
					</a>
                </div>
               <div class="clearfix"> </div>
            </div>
		</div>
	</div>
    <!-- Include jQuery & Filterizr -->

    <script src="js/jquery.filterizr.js"></script>
    <script src="js/controls.js"></script>

    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function() {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>
	<!--//gallery-->
<!-- swipe box js -->
	<script src="js/jquery.swipebox.min.js"></script>
	    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
	</script>
<!-- //swipe box js -->
</div>