<div class="typrography">
	 <div class="container">
		<h3 class="title" >Sybarite company</h3>
		<div class="grid_3 grid_4 ">
		     <h3 class="bars">What can we offer?</h3>
		    <div class="bs-example">
				<div class="mb-60">

<p>Sybarite is the company developing web pages, providing services for web applications, designing visual appearance of websites as well as other related services. When somebody looks on your web, the first impression is crucial. Afterward, your web page should ensure your customers that you are the best choice! It requires well-composed graphics and mentioning of information that is crucial for your clients. Originality is essential as well as representativeness.</p>
<h2>What are the specific benefits of Sybarite?</h2>
<p>We are a flexible company with many clients around the world. We could easily adjust our outputs to your requirement (or requirements of your customers). We are the team of experienced professional. Our members have experience with marketing services others have experience with designing of page appearance and programmers make all the thing working. </p>
<h2>Providing the Czech, Slovak or Polish mutation of your sites</h2>
<p>If you plane to expand your company to the Czech Republic, Slovak or Poland, you necessarily have to have language mutation of your websites. We are the best company for doing such a job. Our team is composed of Czech as well as Slovak and Polish native speakers. We could translate your outputs for new customers in our countries. </p>
<h2>Other technical services</h2>
<p>Experienced programmers are one of the most substantial parts of our company. We have experience working with ASP.NET (with C#), PHP in all standards, HTML5/CSS3 languages as well as Python, C/C++, all relevant database technologies such as MS SQL, MySQL, Oracle SQL and many others. If you are looking for outsourcing in this branch, don't hesitate and contact us.</p>

<h2>Contact information</h2>
<p>
    Company name: Sybarite s.r.o.<br>
    Adress - street: Voroněžská 144/20,<br>
    Adress - city and ZIP: Liberec, 460 01<br>
    Phone number: <i class="d-plus"></i><i class="d-four"></i><i class="d-two"></i><i class="d-zero"></i> <i class="d-seven"></i><i class="d-seven"></i><i class="d-seven"></i> <i class="d-two"></i><i class="d-five"></i><i class="d-six"></i> <i class="d-zero"></i><i class="d-seven"></i><i class="d-seven"></i><br>
    E-mail: info(@)sybarite(dot)cz
</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3000.6010179886125!2d15.059065009778639!3d50.77196535804408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470936a1a8883e5f%3A0x15a4bd963df68334!2zVm9yb27Em8W-c2vDoSAxNDQvMjAsIFN0YXLDqSBNxJtzdG8sIDQ2MCAwMSBMaWJlcmVj!5e0!3m2!1sen!2scz!4v1531046474619" width="600" height="450" frameborder="0" style="width: 100%; border:0" allowfullscreen></iframe>

				</div>
			</div>
	    </div>

	</div>
</div>