<!-- content -->
<div class="content">
	<div class="container">
		<h3>Naše služby</h3>
		<div class="col-md-7 content-left">
			<h4>Tvoříme webové stránky, <span>které vydělávají</span></h4>
			<p class="abt-para">Poskytujeme profesionální řešení v oblasti marketingu a webových služeb. Při své práci se zaměřujeme na maximalizaci zisku našich klientů. Tvoříme všechna standardní řešení, jako jsou editovatelné webové stránky, eshopy, katalogové listy, on-line vizitky a další. Jsme maximálně flexibilní a rádi reflektujeme každé přání klienta.</p>
			<div class="col-md-6 bann-strip-grid">
			   	  <div class="col-md-8 b-strip-right">
			   	  	 <h5>Flexibilita</h5>
			   	  	 <p>Naším hlavním dirigentem je zákazník.</p>
			   	  </div>
				  <div class="col-md-4 b-strip-left">
			   	  	 <span class="glyphicon glyphicon-leaf hovicon effect-4 sub-b" aria-hidden="true"> </span>
			   	  </div>
			   	  <div class="clearfix"> </div>
			</div>
			<div class="col-md-6 bann-strip-grid">
			   	  <div class="col-md-8 b-strip-right">
			   	  	 <h5>Rychlost</h5>
			   	  	 <p>Při tvorbě našich řešení dbáme na rychlost.</p>
			   	  </div>
				  <div class="col-md-4 b-strip-left">
			   	  	 <span class="glyphicon glyphicon-fire hovicon effect-4 sub-b" aria-hidden="true"> </span>
			   	  </div>
			   	  <div class="clearfix"> </div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-5 content-right">
			<div class="con-grids">
				<div class="con-lt text-center">
					<span class="glyphicon glyphicon-ok icon" aria-hidden="true"></span>
					<h4>Nejen pro firmy </h4>
					<p>
                                            Děláme webové stránky a eshpy jak pro firmy, tak i pro jednotlivce.
                                        </p>
				</div>
				<div class="con-lt text-center">
					<span class="glyphicon glyphicon-cog icon" aria-hidden="true"></span>
					<h4>Editovatelnost </h4>
					<p>
                                            Naše řešení si můžete sami snadno editovat a naplňovat dle libosti.
                                        </p>
				</div>
			</div>
			<div class="con-grids">
				<div class="con-lt text-center">
					<span class="glyphicon glyphicon-fire icon" aria-hidden="true"></span>
					<h4>Vyhledávače</h4>
					<p>
                                            Potřebujete své produkty posunout výše ve vyhledávači? Zařídíme.
                                        </p>
				</div>
				<div class="con-lt text-center">
					<span class="glyphicon glyphicon-leaf icon" aria-hidden="true"></span>
					<h4>Pro PC i mobil </h4>
					<p>
                                            Naše stránky se vám bezchybně zobrazí jak ve smartphonu, tak na PC.
                                        </p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //content -->
<!-- quality -->
<div class="quality">
	<div class="container">
		<h3>Naše práce</h3>
		<div class="col-md-6 qua-left ">
			<a href="reference.html"><figure>
				<img class="img-responsive" src="images/pic8.jpg" alt="Katys">
				<figcaption>
					<div class="fig-bor">
						<h4>Stránky s integrovaným eshopem</h4>
						<p>
                                                        Jako naše standardní řešení nabízíme webové stránky s integrovaným eshopem. Můžete tedy jak prezentovat produkty, tak prodávat.
						</p>
					</div>
				</figcaption>
			</figure></a>
		</div>
		<div class="col-md-6 qua-left ">
			<a href="reference.html"><figure>
				<img class="img-responsive" src="images/pic7.jpg" alt="Pavel Žur">
				<figcaption>
					<div class="fig-bor">
						<h4>Reprezentativní weby</h4>
						<p>
                                                        Reprezentativní stránky jsme schopni poskytnout pro každého. Tedy jak pro firmy a živnostníky, tak například pro politiky, města...
						</p>
					</div>
				</figcaption>
			</figure></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //quality -->
<div class="news-left">
	<div class="container">
		<h3>Co poskytujeme</h3>
			<div class="col-md-6 col-news-right ">
				<div class="col-news-top">
					<div class="date-in">
						<img class="img-responsive" src="images/a1.jpg" alt="">
						<div class="month-in">
                                                    <span><img src="images/responsive.svg" alt=" "></span>
							<p>Reprezentativní stránky</p>
						</div>
					</div>
					<div class="col-bottom two">
						<h4>Webove stranky pro prezentaci</h4>
						<p>
                                                    Tvoříme reprezentativní webové stránky pro firmy, živnostníky, neziskové organizace i pro konkrétní produkty. Dokážeme zajistit vysoké umístění ve vyhledávačích a zvýšit tak efektivitu marketingu. Při tvorbě stránek dodružujeme moderní standardy, jako optimalizaci pro mobilní zařízení a další.
                                                </p>
							<ul>
								<li><a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Optimalizace pro mobilní zařízení</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Vysoké umístění ve vyhledávači</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Efektivní marketingová strategie</a></li>
							</ul>
					</div>
				</div>

			</div>
			<div class="col-md-6 col-news ">
						<div class="col-bottom two">
							<h4>Eshopy a složitější projekty</h4>
							<p>
                                                            Pro prodejce jsme schopni vytvořit standardní eshopy, stejně jako na míru šité výstupy, jako katalogové listy a další. Naše řešení je optimalizované pro vyhledávače a možnost ovládání přes mobilní zařízení. Díky těmto skutečnostem se stanete obchodně úspěšnějšími. Neváhejte a prodávejte online ještě dnes.
                                                        </p>
							<ul>
								<li><a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Eshopy pro různé produkty</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Složitější projekty na míru</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Katalogové listy a další výstupy</a></li>
							</ul>
						</div>
						<div class="col-news-top">
							<div class="date-in">
								<img class="img-responsive" src="images/a2.jpg" alt="">
								<div class="month-in">
                                                                    <span><img src="images/shop.svg" alt=" "></span>
									<p>Eshopy a projekty</p>
								</div>
							</div>
						</div>
			</div>
			<div class="clearfix"> </div>
	</div>
</div>